[Desktop Entry]
Name=TSoSLADaE
Exec=slade 
Type=Application
Categories=Development
Comment=It's a Fork of a Doom Editor!
Icon=net.mancubus.SLADE
Terminal=false
